body {
    background: url("../img/background.jpg");
    color: white;
    font-size: 16px;
}

p {
    font-size: 20px;
}

table {
    font-size: 20px;
}

div {
    margin: 0 5% 5% 5%;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
}

.left-column {
    width: 40%;
    min-height: 300px;
    float: left;
    /*background-color: lightgreen;*/
}

.right-column {
    width: 40%;
    min-height: 300px;
    float: right;
    /*background-color: bisque;*/
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    /*cursor: pointer;*/
    /*overflow: hidden;*/
    /*outline: none;*/
    /*padding: 0;*/
}

.underlined {
    border: 0;
    border-bottom: 1px solid white;
    padding: 0;
}