body {
    background: black url("../img/background2.jpg") fixed;
    background-size: cover;
    color: white;
    font-size: 16px;
}

p {
    font-size: 20px;
}

table {
    font-size: 20px;
}

div {
    margin: 0;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
}

.header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.left-column {
    width: 30%;
    margin-left: 20%;
    float: left;
}

.right-column {
    width: 30%;
    margin-right: 20%;
    float: right;
}

.center-column {
    margin: 0 20% 0 20%;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    font-size: 18px;
    color: white;
}

.underlined {
    border: 0;
    border-bottom: 1px solid white;
    padding: 0;
}