div {
    margin: 0 5% 5% 5%;
    text-align: center;
    background-color: darkkhaki;
}

.left-column {
    width: 40%;
    min-height: 300px;
    float: left;
    background-color: lightgreen;
}

.right-column {
    width: 40%;
    min-height: 300px;
    float: right;
    background-color: bisque;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-bottom: 1px solid #1e2f45;
    padding: 0;
}