<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>db.driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/finalproject?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value>relbud2k1</param-value>
  </context-param>

  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/WEB-INF/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>main</servlet-name>
    <jsp-file>/WEB-INF/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>alien-table</servlet-name>
    <jsp-file>/WEB-INF/alien-table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>alien-table</servlet-name>
    <url-pattern>/alien-table</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>alien-page</servlet-name>
    <jsp-file>/WEB-INF/alien-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>alien-page</servlet-name>
    <url-pattern>/alien-page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>new-alien</servlet-name>
    <jsp-file>/WEB-INF/new-alien.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>new-alien</servlet-name>
    <url-pattern>/new-alien</url-pattern>
  </servlet-mapping>
</web-app>
