<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>db.driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/finalproject?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value>relbud2k1</param-value>
  </context-param>
</web-app>
