<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>db.driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/finalproject?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value>relbud2k1</param-value>
  </context-param>

  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/WEB-INF/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>main</servlet-name>
    <jsp-file>/WEB-INF/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>alien-table</servlet-name>
    <jsp-file>/WEB-INF/alien-table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>alien-table</servlet-name>
    <url-pattern>/alien-table</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>alien-page</servlet-name>
    <jsp-file>/WEB-INF/alien-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>alien-page</servlet-name>
    <url-pattern>/alien-page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>new-alien</servlet-name>
    <jsp-file>/WEB-INF/new-alien.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>new-alien</servlet-name>
    <url-pattern>/new-alien</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>movie-page</servlet-name>
    <jsp-file>/WEB-INF/movie-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>movie-page</servlet-name>
    <url-pattern>/movie-page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>user-table</servlet-name>
    <jsp-file>/WEB-INF/user-table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-table</servlet-name>
    <url-pattern>/user-table</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>user-page</servlet-name>
    <jsp-file>/WEB-INF/user-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-page</servlet-name>
    <url-pattern>/user-page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>edit-user</servlet-name>
    <jsp-file>/WEB-INF/edit-user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit-user</servlet-name>
    <url-pattern>/edit-user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>change-password</servlet-name>
    <jsp-file>/WEB-INF/change-password.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>change-password</servlet-name>
    <url-pattern>/change-password</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>restore-password</servlet-name>
    <jsp-file>/WEB-INF/restore-password.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>restore-password</servlet-name>
    <url-pattern>/restore-password</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>edit-alien</servlet-name>
    <jsp-file>/WEB-INF/edit-alien.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit-alien</servlet-name>
    <url-pattern>/edit-alien</url-pattern>
  </servlet-mapping>
</web-app>
